* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    font-weight: 600;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.nav-links a:hover {
    color: rgba(48, 184, 104, 1);
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: black;

}

.nav-btn {
    padding: 0px 25px 0px 25px;
    font-size: 1em;
    border: none;
    height: 50px;
    margin-top: 8px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(28, 126, 69);
    color: white;
    cursor: pointer;
}

.nav-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: rgb(70, 145, 101);
    border: 2px rgba(70, 145, 101, 1) solid;
    font-weight: bold;
}

.nav-logo {
    cursor: pointer;
}

.nav-logo:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px rgba(70, 145, 101, 1) solid;
    border-radius: 10px;

}

.hero-bg {
    width: 100%;
    height: 600px;
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;


}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    height: 100%;
}

.hero-content .t1 {
    color: white;
    font-weight: bold;
    font-size: 55px;
}

.hero-content .t2 {
    color: rgba(48, 184, 104, 1);
    font-weight: bold;
    font-size: 55px;
}

.hero-content p {
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

.last-line {
    margin-bottom: 30px;
}

.early {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: rgba(48, 184, 104, 1);
    background-color: white;

}

.early:hover {
    box-shadow: 0 8px 8px rgba(48, 184, 104, 1);
}

.btn {
    background: none;
    border: none;
    font-weight: 500;
    color: rgba(30, 115, 65, 1);
    font-size: 13px;
}

.hero-btn {

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
}


.btn-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(48, 120, 80, 1);
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
}


.btn-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid white;
    padding: 14px 30px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-1 img,
.btn-2 img {
    height: 24px;
    width: 24px;
}

.btn-1:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: black;
    ;
    color: rgba(48, 120, 80, 1);
    font-weight: bold;
}

.btn-2:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: black;
    color: black;
    font-weight: bold;
}

.problems-section {
    max-width: 1270px;
    margin: 0 auto;
    background-color: rgb(241, 241, 241);

}

.problem-text h1 {
    text-align: center;
    padding: 40px 20px 10px 20px;
    font-size: 45px;
}

.problem-text p {
    text-align: center;
    padding: 0px 20px 20px 20px;
    font-size: 15px;
    color: rgba(98, 115, 130, 1);
    font-weight: 600;
}

.card-container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card1 {
    width: 300px;
    height: 300px;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}



.card1 img {
    width: 20%;
    height: 55px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 45px;
    padding: 12px;

}

.card1 h3 {
    margin-top: 10px;
    font-size: 20px;
}

.card1:hover {
    box-shadow: 0 8px 8px rgba(249, 85, 85, 1);
}

.solutions-section {
    max-width: 1270px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 0px 50px 0px;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 100px;
}

.solution-image img {
    width: 500px;
    height: auto;
    border-radius: 15px;
}

.tick-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.tick-item img {
    width: 24px;
    height: 24px;
}

.tick-item p {
    font-weight: 600;
    font-size: 1rem;
}

.last-line {
    margin-bottom: 30px;
}

.last-h1 {
    margin-bottom: 20px;
}

.solution-text h4 {
    margin-top: 0px;

    color: rgba(48, 184, 104, 1);
    font-weight: 600;
}

.solution-text p {
    color: rgba(98, 115, 130, 1);
}

.solution-text h1 {
    font-size: 45px;
}

.solution-image:hover {
    box-shadow: 0 8px 8px rgba(48, 184, 104, 1);
}

.join-section {
    margin-top: 50px;
    max-width: 1270px;
    margin: 0 auto;
    height: 400px;
    display: flex;
    background-color: rgb(226, 225, 221);
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

footer {
    background-color: rgba(0, 25, 49, 1);
    color: white;
    padding: 60px 20px 40px 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
}


.social-links h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.social-links img {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.social-links img:hover {
    box-shadow: 0 8px 8px rgba(48, 184, 104, 1);

}

footer p {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    margin: 0;
    font-size: 0.9rem;
    color: #ccc;
}

.footer-logo {
    cursor: pointer;
}

.footer-logo:hover {
    box-shadow: 0 8px 8px rgba(48, 184, 104, 1)
}