.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.nav-links {
    display: flex;
    gap: 20px;
    font-size: 1.25em;
    font-weight: 600;
}
.link1:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: lightgray;
    font-weight: 600;
    text-decoration: underline; 
}
.link2:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: lightgray;
    font-weight: 600;
    text-decoration: underline; 
}
.link3:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: lightgray;
    font-weight: 600;
    text-decoration: underline; 
}
nav ul {
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: black;

}
.nav-btn {
    padding: 5px 25px 5px 25px;
    font-size: 1em;
    border: none;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(0, 128, 43);
    color: white;
    cursor: pointer;
}
.nav-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: rgb(70, 145, 101);
    border: 2px rgba(70, 145, 101, 1) solid;
}
.nav-logo {
    cursor: pointer;
}
.nav-logo:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px rgba(70, 145, 101, 1) solid;
    border-radius: 10px;

}